<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New Message</title>
</head>

<body>

  <h1>Create New Message</h1>

  <form method="POST" action="/new">

    <label>User Name</label>
    <br>

    <input type="text" name="messageUser">

    <br><br>

    <label>Message Text</label>
    <br>

    <textarea name="messageText"></textarea>

    <br><br>

    <button type="submit">Send Message</button>

  </form>

</body>

</html>